

<%= render partial: "layouts/dash_board/sidebar_top"%>

<div class="col-custom-md-21">
      <div class="content-section" style="height:300px">
      <h2 class="title">About Us
      </h2>


<div class="clearfix">
       
<div>

<%= render partial: "layouts/dash_board/sidebar_bottom"%>

      