
<%= render partial: "layouts/dash_board/sidebar_top"%>

<div class="col-custom-md-21">
      <div class="content-section" style="height:300px">
      <h2 class="title">Contact us
      </h2>

<%= render partial: "layouts/dash_board/sidebar_bottom"%>
     