
<%= render partial: "layouts/dash_board/sidebar_top"%>

<div class="col-custom-md-21">
      <div class="content-section" style="height:300px">
      <h2 class="title">Contact us
        <% if current_user.has_role?(:guest)||current_user.has_role?(:host) %>
          <% if !current_user.has_role?(:host) %>
            <%= link_to(" Become A Host", host_path, class: "btn btn-mini btn-primary",  style: 'float:right; margin-right:30px') %>
          <% end %>
          <% if !current_user.has_role?(:guest) %>
            <%= link_to(" Become A Guest",guest_path, class: "btn btn-mini btn-primary",  style: 'float:right; margin-right:30px') %>
          <% end %>
        <% end %>
      </h2>

<%= render partial: "layouts/dash_board/sidebar_bottom"%>
     