     
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
      </div>
      <div class="modal-body">
           <%= form_for @image, url: images_path, :html => {:multipart => true} do |f| %>
                                  <% @image.pictures.build %>
                  <%=f.fields_for :pictures do |image| %>
                               <%= image.file_field :data%>
                   <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value = "Upload Image">
      </div>
    </div>
  </div>
</div>
           <% end %>
