     
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"style="width:75%">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

    <div id="hello1" class="test">
      <%#= form_for(:user, :url => user_session_path) do |f| %>
       <form accept-charset="UTF-8"  action="/dash_board" method="post" class='test'>
        <div class="control-label">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input name="authenticity_token" type="hidden" value="MD9N38/Jr8438i4QZv+ED5xUe8KMdtqWfZ2iAadZ5Ck=" />
        </div>
        <div class="form-group">
          <label class="control-label" for="inputpagetitle">Login: </label>&nbsp;&nbsp;&nbsp;&nbsp;
          <label class="control-label" for="inputpagetitle"><span class="highlight-1">I am a: </span></label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="control-label" for="inputpagetitle">Guest </label>
                <input type="radio" name="role" value="guest"> &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="control-label" for="inputpagetitle">Host </label>
        <input type="radio" name="role" value="host">
        </div>  
        <div class="form-group">
          <label class="control-label" for="inputpagetitle">Email: </label>
                <input type="email" name= 'user[email]' id="user_email" class="form-control input-sm" placeholder="Enter email" style="height:30px;width:70%;" >
        </div>
        <div class="form-group">
          <label class="control-label" for="inputpagetitle">Password: </label>
        <input type="password" name='user[password]' id="password" class="form-control input-sm" placeholder="Password" style="height:30px;width:70%;">
        </div>
        <button type="submit" class="btn btn-sm new" id="btnValidate">Sign in</button>
        <%= link_to "Register", sign_up_path, class: "btn btn-primary" %>
        <%= link_to "Forgot Password", new_user_password_path %>
        </form>
        <%#end%>
    </div>


           
      </div>
    </div>
  </div>
</div>