<%= render partial: "layouts/header"%>
    
<div class="clearfix"></div>
  <div class="banner-back">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="registration-box">
            <div class="about-box-head">
              <span class="title-2">Guest <span class="highlight-1">Registration</span></span>
            </div>
          <form method="post" action="/users" accept-charset="UTF-8">
            <div class="col-md-4 martop3  form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputpagetitle">First Name :</label>
              <div class="controls">
                <input id="user[first_name]" class="form-control" type="text" name="user[first_name]">
             </div>
           </div>
          <div class="control-group">
           <label class="control-label" for="inputlogo">Password :</label>
           <div class="controls">
            <input id="user[password]" class="form-control" type="password" name="user[password]">
          </div>
       </div>
       <div class="control-group">
        <label class="control-label" for="inputlogo">Street Address :</label>
<div class="controls">
<input id="address[address]" class="form-control" type="text" name="address[address]">
</div>
</div>
<div class="control-group">
<label class="control-label" for="inputlogo">Zip Code :</label>
<div class="controls">
<input id="address[zipcode]" class="form-control" type="text" name="address[zipcode]">
</div>
</div>

<div class="clearfix"> </div>
            <div class="signup text-center form-inline">
              <%= recaptcha_tags %>     
            </div>
</div>
<div class="col-md-4 martop3  form-horizontal">                 
            <div class="control-group">
              <label class="control-label" for="inputpagetitle">Last Name :</label>
              <div class="controls">
                <input type="text" name="user[last_name]" id="user[last_name]" class="form-control">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputlogo">Verify Password :</label>
                <div class="controls">
                  <input type="password" name="user[password_confirmation]" id="user[password_confirmation]" class="form-control">
                </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputlogo">City :</label>
              <div class="controls">
                <input type="text" name="address[city]" id="address[city]" class="form-control">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputlogo">Phone No :</label>
              <div class="controls">
                <input type="text" name="address[phone_no]" id="address[phone_no]" class="form-control">
              </div>
            </div>
            <br/>
            <br/>
            <button class="btn-sm new" type="submit">Submit</button>

</div>
<div class="col-md-4 martop3  form-horizontal">

           <div style="margin:0;padding:0;display:inline">
             <input type="hidden" name="utf8" value="✓">
             <input type="hidden" name="authenticity_token" value="h4iN59LTLP1qbHozw++iJ5x16lv+W1A5uw0TQmRPhBc=">
            </div>                
            <div class="control-group">
              <label class="control-label" for="inputlogo">Email :</label>
              <div class="controls">
                <input type="text" name="user[email]" id="user[email]" class="form-control">
              </div>
            </div>
   
                <div class="control-group">
                  <label for="inputlogo" class="control-label">Role:</label>
                  <div class="controls">
                    <select class="form-control" name="role[role_id]">
                      <option value="">Select</option>
                      <option value="host">Host</option>
                      <option value="guest">Guest</option>
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label for="inputlogo" class="control-label">State :</label>
                  <div class="controls">
                    <select class="form-control" name="address[state]">
                      <option value="">Select</option>
                      <option value="Alabama">Alabama</option>
                      <option value="Alaska">Alaska</option>
                      <option value="Arizona">Arizona</option>
                      <option value="Arkansas">Arkansas</option>
                      <option value="California">California</option>
                      <option value="Colorado">Colorado</option>
                      <option value="Connecticut">Connecticut</option>
                      <option value="Delaware">Delaware</option>
                      <option value="Florida">Florida</option>
                      <option value="Georgia">Georgia</option>
                      <option value="Hawaii">Hawaii</option>
                      <option value="Idaho">Idaho</option>
                       <option value="Illinois">Illinois</option>
                      <option value="Indiana">Indiana</option>
                      <option value="Iowa">Iowa</option>

                      <option value="Kansas">Kansas</option>
                      <option value="Kentucky[C]">Kentucky[C]</option>
                      <option value="Louisiana">Louisiana</option>

                      <option value="Maine">Maine</option>
                      <option value="Maryland">Maryland</option>
                      <option value="Massachusetts[D]">Massachusetts[D]</option>


                      <option value="Michigan">Michigan</option>
                      <option value="Minnesota">Minnesota</option>
                      <option value="Mississippi">Mississippi</option>

                      <option value="Missouri">Missouri</option>
                      <option value="Montana">Montana</option>
                      <option value="Nebraska">Nebraska</option>

                      <option value="Nevada">Nevada</option>
                      <option value="New Hampshire">New Hampshire</option>
                      <option value="New Jersey">New Jersey</option>

                    <option value="New Mexico">New Mexico</option>
                      <option value="New York">New York</option>
                      <option value="North Carolina">North Carolina</option>

                      <option value="North Dakota">North Dakota</option>
                      <option value="Ohio">Ohio</option>
                      <option value="Oklahoma">Oklahoma</option>
                      <option value="Oregon">Oregon</option>
                      <option value="Pennsylvania[E]">Pennsylvania[E]</option>
                      <option value="Rhode Island[F]">Rhode Island[F]</option>
                      <option value="South Carolina">South Carolina</option>
                      <option value="South Dakota">South Dakota</option>
                      <option value="Tennessee">Tennessee</option>
                      <option value="Texas">Texas</option>
                      <option value="Utah">Utah</option>
                      <option value="Vermont">Vermont</option>
                      <option value="Virginia[G]">Virginia[G]</option>
                      <option value="Washington">Washington</option>
                      <option value="West Virginia">West Virginia</option>
                      <option value="Wisconsin">Wisconsin</option>
                      <option value="Wyoming">Wyoming</option>
                    </select>
                  </div>
                </div>
                
    
            <div class="col-md-12 martop1" style="background:#f1f4f9;">
              

         

          </div>
          </div>
        </form>

          

          </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
    
  <%= render partial: "layouts/content"%>

  
  <%= render partial: "layouts/footer"%>
<style>
.form-horizontal .control-group{
margin-bottom:12px;
}

.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 135px;
}

.form-horizontal .controls {
    margin-left: 145px;
}
</style>